<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/todo']">Todo App</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02"></div>
  
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
    <div class="form-inline my-2 my-lg-0">
      <form>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Add Todo Item"
        #todoItem
        (keyup.enter)="onAddItem(todoItem)"
      />
      <button
        class="btn btn-outline-dark my-2 my-sm-0"
        type="submit"
        (click)="onAddItem(todoItem)"
      >
        Add Item
      </button>
      <input
      class="form-control my-sm-0 my-2 mr-sm-2"
      type="text"
      placeholder="Filter by Task Name"
      name="filterItem"
      [(ngModel)]="filterItem"
      (ngModelChange)="doFliter($event)"
    />
  </form>
    </div>
  </nav>
  